pipeline/pipeGenericFileMover.json
{
	"name": "pipeGenericFileMover",
	"properties": {
		"activities": [
			{
				"name": "Meta OnPremFolderMonitor",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "fsOnPremFileImporterFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "feForEachFileFound",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Meta OnPremFolderMonitor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Meta OnPremFolderMonitor').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyOnPremFilesToAzureStorageBlob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "fsOnPremFileImporterFileName",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DSblobStorage",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-03-17T14:26:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}